.react-datepicker-wrapper input:focus {
    outline: 0;
}


.react-datepicker__header {
    padding-top: 0.8em;
    background-color: #F0572D;

}

.react-datepicker__month {
    margin: 0.4em 1em;
}

.react-datepicker__day-name,
.react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}

.react-datepicker__name:hover {
    color: #F0572D;
}

.react-datepicker__current-month {
    font-size: 1em;
}

.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: none;
}

.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}

.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}

.react-datepicker-wrapper {
    width: 100%;
    
}

@media (min-width: 640px) {
    .react-datepicker-wrapper {
        flex: 2 1 0;
    }
    
}

.react-datepicker__input-container input {
    height: 40px;
    padding: 9px 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    border-style: none;
}

.react-datepicker-ignore-onclickoutside {
    border-style: none;
}

.react-datepicker__week div:hover {
    background-color: #F0572D;
}